<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890676442108-bqtj27tqrenshrrs8bj4d978mpjgruid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890676442108-bqtj27tqrenshrrs8bj4d978mpjgruid</string>
	<key>API_KEY</key>
	<string>AIzaSyBHAmuW_KB2ScQUay-oeMDkK4Wn6EfF8l0</string>
	<key>GCM_SENDER_ID</key>
	<string>890676442108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdscmaliki.flutterGdscmaliki</string>
	<key>PROJECT_ID</key>
	<string>gdscmaliki-7ec26</string>
	<key>STORAGE_BUCKET</key>
	<string>gdscmaliki-7ec26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890676442108:ios:340028160ebc7d3f977879</string>
</dict>
</plist>